{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'show_scoreboard.css' %}"/>
  <style media="screen">
    body { background-image: linear-gradient(to right, {{ match.sb_color_A }}, {{ match.sb_color_B }}); }
  </style>
{% endblock %}

{% block script %}
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('f7d3abbadd2b734a4493', {
      cluster: 'eu',
      forceTLS: true
    });

    var channel = pusher.subscribe("{{ match.number }}");
    channel.bind('match_is_updated', function(match) {
      document.body.style.backgroundImage = "linear-gradient(to right, ".concat(match.sb_color_A, ", ", match.sb_color_B, ")")
      document.getElementById("timer").innerHTML = match.sb_timer
      document.getElementsByClassName("current-sixth")[0].innerHTML = match.get_sb_current_sixth_display
      document.getElementsByClassName("partial-A")[0].innerHTML = match.sb_partial_A
      document.getElementsByClassName("partial-B")[0].innerHTML = match.sb_partial_B
      document.getElementsByClassName("n1-sixth-A")[0].innerHTML = match.sb_1_sixth_A
      document.getElementsByClassName("n2-sixth-A")[0].innerHTML = match.sb_2_sixth_A
      document.getElementsByClassName("n3-sixth-A")[0].innerHTML = match.sb_3_sixth_A
      document.getElementsByClassName("n4-sixth-A")[0].innerHTML = match.sb_4_sixth_A
      document.getElementsByClassName("n5-sixth-A")[0].innerHTML = match.sb_5_sixth_A
      document.getElementsByClassName("n6-sixth-A")[0].innerHTML = match.sb_6_sixth_A
      document.getElementsByClassName("n7-sixth-A")[0].innerHTML = match.sb_7_sixth_A
      document.getElementsByClassName("n1-sixth-B")[0].innerHTML = match.sb_1_sixth_B
      document.getElementsByClassName("n2-sixth-B")[0].innerHTML = match.sb_2_sixth_B
      document.getElementsByClassName("n3-sixth-B")[0].innerHTML = match.sb_3_sixth_B
      document.getElementsByClassName("n4-sixth-B")[0].innerHTML = match.sb_4_sixth_B
      document.getElementsByClassName("n5-sixth-B")[0].innerHTML = match.sb_5_sixth_B
      document.getElementsByClassName("n6-sixth-B")[0].innerHTML = match.sb_6_sixth_B
      document.getElementsByClassName("n7-sixth-B")[0].innerHTML = match.sb_7_sixth_B
    });
  </script>
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>

  <script src="{% static 'script/stopWatch.js' %}"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  <nav>
    <div class="container">
      <div class="grid-container">
        <div class="name name-A">{{ match.team_A.short_name }}</div>
        <div class="name name-B">{{ match.team_B.short_name }}</div>
        <div class="city city-A">{{ match.team_A.city }}</div>
        <div class="city city-B">{{ match.team_B.city }}</div>
        <div class="current-sixth">{{ match.get_sb_current_sixth_display }}</div>
        <div id="timer" class="timer">{{ match.sb_timer }}</div>
        <div class="label label-1"><span>PARZIALE</span></div>
        <div class="partial partial-A">{{ match.sb_partial_A }}</div>
        <div class="partial partial-B">{{ match.sb_partial_B }}</div>
        <div class="label label-2"><span>PUNTEGGI</span></div>
        <div class="sixth-label n1-sixth-label">PRIMO TEMPO</div>
        <div class="sixth-label n2-sixth-label">SECONDO TEMPO</div>
        <div class="sixth-label n3-sixth-label">TERZO TEMPO</div>
        <div class="sixth-label n4-sixth-label">QUARTO TEMPO</div>
        <div class="sixth-label n5-sixth-label">QUINTO TEMPO</div>
        <div class="sixth-label n6-sixth-label">SESTO TEMPO</div>
        <div class="sixth-label n7-sixth-label">SUPPLEMENTARE</div>
        <div class="sixth-A n1-sixth-A">{{ match.sb_1_sixth_A|default:"" }}</div>
        <div class="sixth-A n2-sixth-A">{{ match.sb_2_sixth_A|default:"" }}</div>
        <div class="sixth-A n3-sixth-A">{{ match.sb_3_sixth_A|default:"" }}</div>
        <div class="sixth-A n4-sixth-A">{{ match.sb_4_sixth_A|default:"" }}</div>
        <div class="sixth-A n5-sixth-A">{{ match.sb_5_sixth_A|default:"" }}</div>
        <div class="sixth-A n6-sixth-A">{{ match.sb_6_sixth_A|default:"" }}</div>
        <div class="sixth-A n7-sixth-A">{{ match.sb_7_sixth_A|default:"" }}</div>
        <div class="sixth-B n1-sixth-B">{{ match.sb_1_sixth_B|default:"" }}</div>
        <div class="sixth-B n2-sixth-B">{{ match.sb_2_sixth_B|default:"" }}</div>
        <div class="sixth-B n3-sixth-B">{{ match.sb_3_sixth_B|default:"" }}</div>
        <div class="sixth-B n4-sixth-B">{{ match.sb_4_sixth_B|default:"" }}</div>
        <div class="sixth-B n5-sixth-B">{{ match.sb_5_sixth_B|default:"" }}</div>
        <div class="sixth-B n6-sixth-B">{{ match.sb_6_sixth_B|default:"" }}</div>
        <div class="sixth-B n7-sixth-B">{{ match.sb_7_sixth_B|default:"" }}</div>
      </div>
    </div>
  </nav>
{% endblock %}
